<footer class="footer">
    <div class="container">
        <div class="footer__item">
            <div class="footer__subheader">Socials</div>
            <ul class="footer__list">
                <li><a href="" class="footer__link">Facebook</a></li>
                <li><a href="" class="footer__link">Flickr</a></li>
                <li><a href="" class="footer__link">Twitter</a></li>
                <li><a href="" class="footer__link">Vimeo</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__subheader">Links</div>
            <ul class="footer__list">
                <li><a href="" class="footer__link">How to Write a Blog</a></li>
                <li><a href="" class="footer__link">Create a Blog in 4 Steps</a></li>
                <li><a href="" class="footer__link">15 Tips to Increase Traffic</a></li>
                <li><a href="" class="footer__link">20 Blog Post Ideas</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__subheader">Blogroll</div>
            <ul class="footer__list">
                <li><a href="" class="footer__link">Blogs Blog</a></li>
                <li><a href="" class="footer__link">Roll Up Roll Up</a></li>
                <li><a href="" class="footer__link">Blog Free</a></li>
                <li><a href="" class="footer__link">Wordpress Blog</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__subheader">About us</div>
            <ul class="footer__list">
                <li><a href="" class="footer__link">Agriculture</a></li>
                <li><a href="" class="footer__link">Harvest</a></li>
                <li><a href="" class="footer__link">Company news</a></li>
                <li><a href="" class="footer__link">Investor relations</a></li>
            </ul>
        </div>
    </div>
</footer>
