<nav class="navbar">
    <ul>
        <li class="navbar__item navbar__item--active"><a href="" class="navbar__link">Home</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Features</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Services</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">News</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Shop</a></li>
    </ul>
    <input type="search" id="search-field" placeholder="Search...">
</nav>
