<div class="news">
    <div class="container">
        <div class="last-news">
            <h2 class="last-news__header">Latest News</h2>
            <div class="last-news__item">
                <div class="last-news__img last-news__img--img1">
                    <div class="last-news__date last-news__month">Jan</div>
                    <div class="last-news__date last-news__day">23</div>
                </div>
                <a href="" class="last-news__subheader">Advanced Machinery Helps Improve Quality</a>
                <p class="last-news__comments">by <span class="last-news__comments--blue">cmsmasters</span> Comments (<span class="last-news__comments--blue">6</span>)</p>
                <p class="last-news__paragraph">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
            </div>
            <div class="last-news__item">
                <div class="last-news__img last-news__img--img2">
                    <div class="last-news__date last-news__month">Jan</div>
                    <div class="last-news__date last-news__day">21</div>
                </div>
                <a href="" class="last-news__subheader">Powerful Techniques for Advanced Service</a>
                <p class="last-news__comments">by <span class="last-news__comments--blue">cmsmasters</span> Comments (<span class="last-news__comments--blue">3</span>)</p>
                <p class="last-news__paragraph">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
            </div>
        </div>
        <div class="news-banner">
            <h2 class="news-banner__header">Banners Place</h2>
            <div class="news-banner__accordion">
                <ul class="banner-accordion">
                    <li class="accordion__item">
                        <a href="" class="accordion__link">+</a>
                        <h3 class="accordion__subheader">Accordion Panel 1</h3>
                        <p class="accordion__inner">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                    </li>
                    <li class="accordion__item">
                        <a href="" class="accordion__link">+</a>
                        <h3 class="accordion__subheader">Accordion Panel 2</h3>
                        <p class="accordion__inner">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
                            samomo enim ipsam voluptatem.</p>
                    </li>
                    <li class="accordion__item">
                        <a href="" class="accordion__link">+</a>
                        <h3 class="accordion__subheader">Accordion Panel 3</h3>
                        <p class="accordion__inner">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                    </li>
                    <li class="accordion__item">
                        <a href="" class="accordion__link">+</a>
                        <h3 class="accordion__subheader">Accordion Panel 4</h3>
                        <p class="accordion__inner">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatursamomo enim ipsam voluptatem.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
