<div class="services clearfix">
    <div class="container">
        <h2 class="services__header">Our Services</h2>
        <div class="services__item">
            <div class="services__img services__img--img1">
                <a href="" class="services__overlay">+</a>
            </div>
            <div class="services__subheader">Schedule Services</div>
        </div>
        <div class="services__item">
            <div class="services__img services__img--img2">
                <a href="" class="services__overlay">+</a>
            </div>
            <div class="services__subheader">Preventive Maintence</div>
        </div>
        <div class="services__item">
            <div class="services__img services__img--img3">
                <a href="" class="services__overlay">+</a>
            </div>
            <div class="services__subheader">Tire & Wheel Servicese</div>
        </div>
        <div class="services__item">
            <div class="services__img services__img--img4">
                <a href="" class="services__overlay">+</a>
            </div>
            <div class="services__subheader">Repair Services</div>
        </div>
    </div>
</div>
