.contacts {
    width: 100%;
    height: 60px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #3b3c3e;
    span {
        font: 400 12px / 60px Arial;
    }
}
.adress {
    margin-left: 11px;
    margin-right: 34px;
}
.phone {
	margin-left: 9px;
    margin-right: 42px;
}
.email {
	margin-left: 14px;
}
.copyright {
	float: right;
    margin-right: 10px;
}
